.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 416px;
  height: 641px;
  background: #ffffff;
  padding: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.bot-btn {
  flex: 1 1 auto;
  margin: 2px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.bot-btn:hover {
  cursor: pointer;
  background-position: right center;
}
